

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    background: rgb(49, 49, 49);
    color: white;

}

.highlight{
    background: rgba(255, 255, 0, 0.233);
    display: inline-block;
    width:fit-content;
    padding: 3px;

    animation-name: jump;
    animation-duration:1.35s;
    animation-iteration-count: infinite;
    position: relative;

}

@keyframes jump{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 3px;

    }

    100%{
        bottom: 0px;
    }
}



h1{
    color: white;
    letter-spacing: .3em;

    animation-name: spacing;
    animation-duration: 2s;

    
}

@keyframes spacing{
    0%{
        opacity: 0;
        transform: scale(.9);
    }
    100%{
        opacity: 1;
    }
}



/* *********************************** */
/* Flaots */

.float-left{
    float:left;
}

.float-right{
    float:right;
}



/* *********************************** */
/* Nav */

ul{
    background: rgb(39, 39, 39);
    height: auto;

}

li{
    display: inline-block;
}

a{
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

a:hover{
    background:rgb(20, 20, 20);
}


/* *********************************** */
/* Main */

main{
    height: 90vh;

    background: linear-gradient(to top,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5) ) ,url(./img/best-free-coding-courses-classes-tutorials-certification-training-online.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    line-height: 85vh;



}

h1{
    text-align: center;
    height: 100%;


}



/* *********************************** */
/* Link Nav */

.link-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}


/* *********************************** */
/* Section One */
section h2{
    margin-top: 40px;;
}
section p{
    margin-top: 20px;;
    margin-left: 20px;
}

section{
    text-align: center;
}

section img{
    width: auto;
    height: 250px;
    margin: 20px;
}



hr{
    width: 70%;
    margin: 50px auto;
}


/* *********************************** */
/* Form */


form{
    width: 70%;
    margin: 50px auto;
}
label{
    display: inline-block;
}
input{
    display: block;
    width:100%;
    margin: 10px auto;
}
input[type="radio"]{
    display: inline-block;
    width:0;
    margin-right: 50px;
    margin-top: 10px;
    

}

/* FlexClear */
.clearFlex::after{
    content: "";
    clear: both;
    display: table;
}



/* Media Queries */

@media (max-width: 1000px){
    h1{
        line-break: auto;
        line-height: normal;
        position: absolute;
        top: 45%;
    }
    form{
        width: 70%;
    }

}

@media (max-width: 630px){
    h1{
        line-break: auto;
        line-height: normal;
        position: absolute;
        top: 45%;
    }

    li{
        display: block
    }
    a{
        text-align: center;
    }

    .float-left,.float-right{
        float: none;
    }
    form{
        width: 80%;
    }
    .highlight{
        margin: 5px;
    }

}

