

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    background: rgb(49, 49, 49);
    color: white;

}

h1{
    color: white;

}

/* *********************************** */
/* Flaots */

.float-left{
    float:left;
}

.float-right{
    float:right;
}



/* *********************************** */
/* Nav */

ul{
    background: rgb(39, 39, 39);
    height: auto;

}

li{
    display: inline-block;
}

a{
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

a:hover{
    background:rgb(20, 20, 20);
}


/* *********************************** */
/* Main */

main{
    height: 90vh;

    background: linear-gradient(to top,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5) ) ,url(./img/best-free-coding-courses-classes-tutorials-certification-training-online.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    line-height: 80vh;



}

h1{
    text-align: center;
    height: 100%;


}



/* *********************************** */
/* Link Nav */

.link-nav{
    position: sticky;
    top: 0;
}


/* *********************************** */
/* Section One */
section h2{
    margin-top: 40px;;
}
section p{
    margin-top: 20px;;
    margin-left: 20px;
}

section{
    text-align: center;
}

section img{
    width: auto;
    height: 250px;
    margin: 20px;
}



hr{
    width: 70%;
    margin: 50px auto;
}